## Developer option, set to false if GoodestEnglish didn't tell you to set to true
debug: false
## Should arena and kit auto save after you make a changes?
## If auto save is disabled, you have to use command '/kit save <Kit Name>' or '/arena save <Arena Name>' to save them manually
## NOTE: Auto save will save each process after you made a changes into arena and kit, and changes are final (which means it cannot be reverted) if you set this to true
arena-kit-auto-save: false
## MongoDB login information
mongo:
  ## This option should be ALWAYS true. Unless you want to test specific stuff without modifying the database
  ## If it is disabled, player stats will not be loaded and saved
  enabled: true
  uri-mode: false
  normal:
    host: 127.0.0.1
    port: 27017
    auth:
      enabled: false
      username: ''
      password: ''
  uri:
    database: Practice
    connection-string: mongodb://127.0.0.1:27017/Eden
## Built-in tablist editor
## Note that some user might experience tablist column incorrectly format. If that happens, please do not use this tablist function
fancy-tablist:
  ## Toggle if the fancy tablist should be enabled or not
  enabled: true
  ## How should each tab element shown
  ## This supports PlaceholderAPI, so if you wish to show player prefix, you can do it!
  format: "&a{player-name}"
  ## The ticks of how often the tablist will be updated
  ## Default is 20, which is 1 second. 1 tick is equal to 0.05 second
  update-ticks: 20
nametag:
  ## Toggle if the plugin should modify the nametag color or not
  enabled: true
  ## Nametag prefix
  prefix:
    ## What prefix should the nametag display when the player is in lobby?
    lobby: "&9"
    ## What prefix should the nametag display when the player is a spectator?
    spectator: "&7"
    ## What prefix should the nametag display when the player is a teammate?
    teammate: "&a"
    ## What prefix should the nametag display when the player is an opponent?
    opponent: "&c"
    ## If it doesn't match any of the above, what prefix should the nametag display?
    ## One of the scenario is a spectator tries to view match players. Those match players nametag will display as the follow prefix
    other: "&e"
party:
  ## When player creates a party, what is the default size?
  default-max-size: 30
lobby:
  ## Should player allow to see other players?
  display-players: false
match:
  ## This option will give a 'Play Again' item to match players when a match is ended, like Minemen Club
  allow-requeue: true
  ## Should snow block be removed when the snowball hit the object?
  ## Set to true if you wish to remove the object (which is the snow block)
  remove-snow-block-when-snowball-hit: false
  ## When player consume a golden apple, should the system gives normal effects to the player (which contains instantly regenerate to full health, saturation and absorption hearts), or just regenerate to full health?
  ## Default is false which only set the player health to full, no effects are given
  instant-gapple-effects: false
  ## Titles - Which type of title should be shown?
  title:
    ## Shows title when someone scores a point?
    score: true
    ## Shows title when the match has a result?
    end: true
  ## The ticks which represents between from match ends to send the player to lobby and reset the arena
  ## 20 ticks is 1 second, so if 100 ticks then it will be 5 seconds
  ## Default is 100, and is recommended. Change this value with caution
  end-duration: 100
  ## Fireball - Settings related to fireball
  fireball:
    ## Should Eden handle how fireball works? (Including modify the value of fireball, explosion, speed, etc.)
    enabled: true
    ## Should Eden modify the fireball damage?
    ## The damage will be original damage divide by 'divide-damage'
    ## For example, if original damage is 10, 'divide-damage' is 5, then player will take 2 damage (10 / 5 = 2)
    divide-damage: 5.0
    ## How fast should the fireball speed goes?
    ## This value is a double, meaning it can include decimal points
    speed: 2.0
    ## The power of the fireball's explosion
    ## This value is a float, meaning it can include decimal points
    yield: 2.0
    ## The block which allow to break by the explosion
    ## Blocks which is placed by match players will ALWAYS allow breaking
    allowed-breaking-blocks:
      - BED_BLOCK
      - ENDER_STONE
    ## The knockback when player takes damage by fireball
    knockback:
      ## Should Eden use our own knockback mechanism?
      enabled: true
      ## The knockback vertical multiplier
      vertical: 1.1
      ## The knockback horizontal multiplier
      horizontal: 1.2
  ## TNT - Settings related to TNT
  tnt:
    ## Should Eden handle how TNT works?
    enabled: true
    ## Should Eden modify the TNT damage?
    ## The damage will be original damage divide by 'divide-damage'
    ## For example, if original damage is 10, 'divide-damage' is 5, then player will take 2 damage (10 / 5 = 2)
    divide-damage: 5.0
    ## The power of the TNT explosion
    ## This value is a float, meaning it can include decimal points
    ## Default value of Minecraft's TNT yield is 4.0
    yield: 4.0
    ## The ticks of the tnt explosion
    ## Remember: 20 ticks is equals to 1 second. Meaning 50 ticks is 2.5 seconds
    fuse-ticks: 50
    ## The block which allow to break by the explosion
    ## Blocks which is placed by match players will ALWAYS allow breaking
    allowed-breaking-blocks:
      - BED_BLOCK
      - ENDER_STONE
    ## The knockback when player takes damage by TNT
    knockback:
      ## Should Eden use our own knockback mechanism?
      enabled: true
      ## The knockback vertical multiplier
      vertical: 1.1
      ## The knockback horizontal multiplier
      horizontal: 1.2
## Overall event config
event:
  ## Sumo Event configuration
  sumo-event:
    ## Which arena should allow for Sumo Event to use?
    ## Arena which listed in here cannot be used in normal fight
    arenas:
      - "sumoevent"
    ## Which kit you want to be used in this event?
    ## You should not change this unless your sumo kit has a different kit ID
    kit: "sumo"
## Simple chat format
chat-format:
  ## Set this to true if you want to enable chat format
  enabled: true
  ## What is the format should be? (This supports PlaceholderAPI)
  ## Use %1$s for player's name and %2$s for player's message
  format: "&a%1$s&f: %2$s"
## Player profile options
profile:
  ## Should Eden save all online player data while server is stopping
  ## Disable this if you used Eden's API to modify eden's player data document
  save-on-server-stop: true
  ## The default settings for a player
  ## Player can customize their settings via '/settings' menu, however, permissions are required to change the settings.
  ## Check https://github.com/diamond-rip/Eden/wiki/Permissions#Settings for more information about permissions
  default-settings:
    ## Available options: normal, day, afternoon, night, midnight
    ## 'normal' means the player will have server-sided time displayed
    time-changer: "normal"
    ## Available options: true, false
    arena-selection: false
    ## Available options: true, false
    match-scoreboard: true
    ## Available options: true, false
    allow-duel-request: true
    ## Available options: true, false
    allow-party-invite: true
    ## Available options: true, false
    spectator-visibility: true
    ## Available options: true, false
    spectator-join-leave-message: true
    ## Available options: true, false
    event-announcement: true
    ## Available options: infinite, 300, 200, 150, 100, 50
    ping-range: "infinite"
## These options will only works if you are using ImanitySpigot
## If you are not using, then turn every imanity related settings off
imanity:
  teleport-async: true